/.vs
/ConsoleApp/bin
/ConsoleApp/obj
/Hiwjcn.Bll/obj
/Hiwjcn.Bll/bin
/Hiwjcn.Core/obj
/Hiwjcn.Core/bin
/Hiwjcn.Dal/obj
/Hiwjcn.Dal/bin
/Hiwjcn.Framework/obj
/Hiwjcn.Framework/bin
/Hiwjcn.Test/obj
/Hiwjcn.Test/bin
/Hiwjcn.Web/obj
/Hiwjcn.Web/bin
/lib/obj
/lib/bin
/WindowsFormApp/obj
/WindowsFormApp/bin
/packages
/Hiwjcn.Web/App_Data/Log
/Hiwjcn.Web/App_Data/Log/LogFile.txt
/Hiwjcn.Plugin.Page.Resume/obj
/Hiwjcn.v12.suo
/Hiwjcn.Web/App_Data/Plugins/Page.Resume
/lib/*.nupkg
/Hiwjcn.Service/bin/Debug
/Hiwjcn.Service/obj/Debug
/lib.zip
/Hiwjcn.Service/obj/Release/CoreCompileInputs.cache
/Hiwjcn.Service/obj/Release/CoreCompileInputs.cache
*.cache
