@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Lib.helper;
@using Bll;
@using Model;
@using Model.Post;
@using Model.User;
@using Hiwjcn.Web.Models.Group;
@{
    Layout = null;
}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="comment_form" style="padding:20px 0;">
                    <form id="fm">
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px;">
                                <input type="hidden" name="threadid" value="@(ViewData["ThreadID"])" />
                                <input type="hidden" name="parentcommentid" value="@(ViewData["ParentID"])" />
                                <textarea class="form-control" name="comment"></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">评论</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        $(function () {
                            var form = $("#fm");
                            form.submit(function () {
                                var data = $(this).serializeArray();
                                postJson('/comment/postcommentaction/', data, function (res) {
                                    if (res && res.success) {
                                        alert('评论成功');
                                        //window.location.reload();
                                        reload_parent();
                                    }
                                    else {
                                        alert(res.msg);
                                    }
                                });
                                return false;
                            });
                        });
                    </script>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
