<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--注册日志组件-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false">
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ERROR_ES" />-->
      <appender-ref ref="ERROR_FILE" />
      <appender-ref ref="INFO_FILE" />
      <appender-ref ref="WARN_FILE" />
      <appender-ref ref="SentryAppender" />
    </root>
    <!--业务相关的日志-->
    <logger name="WebLogger" additivity="false">
      <level value="INFO" />
      <!--<appender-ref ref="B_FILE" />-->
      <!--<appender-ref ref="ERROR_ES" />-->
      <!--<appender-ref ref="AdoNetAppender" />-->
      <appender-ref ref="ERROR_FILE" />
      <appender-ref ref="INFO_FILE" />
      <appender-ref ref="WARN_FILE" />
      <appender-ref ref="SentryAppender" />
    </logger>
    <!--Sentry-->
    <appender name="SentryAppender" type="SharpRaven.Log4Net.SentryAppender, SharpRaven.Log4Net">
      <DSN value="https://ff67bd10eaf6409b8c8f1363afd24891:079ecf7e5978425981b7d30bc5e03736@sentry.io/147755" />
      <Logger value="WebLogger" />
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level - %message%newline" />
      </layout>
    </appender>
    <!--错误-->
    <appender name="ERROR_FILE" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="File" value="App_Data\\Log\\LogFile.ERROR.txt" />
      <param name="MaximumFileSize" value="200KB" />
      <param name="MaxSizeRollBackups" value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="发生时间:%d%n事件级别:%level%n相关类名:%c%n程序文件:%F 第%L行%n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="ERROR_ES" type="Lib.log.ESLogAppender">
      <bufferSize value="1" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <!--信息-->
    <appender name="INFO_FILE" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="File" value="App_Data\\Log\\LogFile.INFO.txt" />
      <param name="MaximumFileSize" value="200KB" />
      <param name="MaxSizeRollBackups" value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="发生时间:%d%n事件级别:%level%n相关类名:%c%n程序文件:%F 第%L行%n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <!--业务-->
    <appender name="B_FILE" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="File" value="App_Data\\Log\\LogFile.B.txt" />
      <param name="MaximumFileSize" value="200KB" />
      <param name="MaxSizeRollBackups" value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="发生时间:%d%n事件级别:%level%n相关类名:%c%n程序文件:%F 第%L行%n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <!--警告-->
    <appender name="WARN_FILE" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="File" value="App_Data\\Log\\LogFile.WARN.txt" />
      <param name="MaximumFileSize" value="200KB" />
      <param name="MaxSizeRollBackups" value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="发生时间:%d%n事件级别:%level%n相关类名:%c%n程序文件:%F 第%L行%n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <!--数据库-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <!--
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=124230.42326.42342222.1542341;Initial Catalog=4234;Persist Security Info=True;User ID=sa;Password=1q2w42343e4r5T" />
      <commandText value="INSERT INTO T_Sys_Log ([TaskName],[Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES ('TuhuProductSync',@log_date, @thread, @log_level, @logger, @message, @exception)" />
      -->
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="database=hiwjcn;server=127.0.0.1;port=3306;characterset=utf8;user id=root;password=123;connectiontimeout=3" />
      <commandText value="INSERT INTO tb_sys_log (LogName,LogTime,LogThread,LogLevel,LoggerName,LogMsg,LogException,CreateTime)VALUES('日志',@log_date,@thread,@log_level,@logger,@message,@exception,now())" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
</configuration>
