@{
    Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>

    @IncludeView("nav")

    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Auth管理
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="/AuthManage/Statics" target="_self">数据统计</a>
                        <a class="list-group-item" href="/AuthManage/Scopes" target="_self">作用域-Scope</a>
                        <a class="list-group-item" href="/AuthManage/Clients" target="_self">应用-Clients</a>
                        <a class="list-group-item" href="/AuthManage/Tokens" target="_self">Token</a>
                        <a class="list-group-item" href="/AuthManage/Tasks" target="_self">定时任务</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
