
@using Lib.core;
@{
    Layout = null;
}

<style type="text/css">
    .footer {
        background-color: #f8f8f8;
    }

        .footer .footer-body {
            border: 1px solid #eee;
            border-left: none;
            border-right: none;
            padding: 40px 0;
            padding-bottom: 20px;
        }

        .footer .footer-bottom {
            background-color: white;
            color: gray;
            padding: 10px 0;
        }

        .footer .title {
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            border-bottom: 1px dashed rgb(230, 230, 230);
            margin-bottom: 5px;
            padding: 3px 0px 3px 0px;
        }

        .footer .content {
            padding: 10px 0px 10px 0px;
            font-size: 12px;
            font-weight: lighter;
            color: gray;
        }

            .footer .content .bt {
                padding: 5px 0px 5px 0px;
                font-weight: bold;
                color: black;
                font-size: 15px;
            }

            .footer .content .bt_con {
                padding: 5px 0px 5px 0px;
                color: rgb(80, 80, 80);
                line-height: 20px;
            }
</style>

<div class="footer">
    <div class="footer-body">
        <div class="container">
            <div class="row">
                <!--我们的简介-->
                <div class="col-md-4">
                    <div class="title">关于我们</div>
                    <div class="content">
                        <div class="bt_con">
                            @(web_name)是一个专注于为中小企业提供互联网营销解决方案的技术团队，
                            通过为客户提供网站建设技术和交互、视觉设计为一体的专业网页设计服务方案来提升客户品牌价值。
                            <br />
                            我们的服务涵盖了网站建设、网站托管、网络营销推广、SEO搜索引擎优化、SEM竞价等。
                        </div>
                    </div>
                </div>
                <!--联系方式-->
                <div class="col-md-4">
                    <div class="title">联系我们</div>
                    <div class="content">
                        <div class="bt">网站合作和广告投放：</div>
                        <div class="bt_con">
                            地址：@(ViewData["web_address"])
                            <br />
                            电话：@(ViewData["web_phone"])
                            <br />
                            信箱：@(ViewData["web_email"])
                        </div>
                    </div>
                </div>
                <!--第三方发布平台-->
                <div class="col-md-4">
                    <div class="title">欢迎关注并订阅</div>
                    <div class="content">
                        <img src="/static/image/weixin_qr.jpg"
                             style="height: 100px;width: 100px;" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 left">
                    ©@(DateTime.Now.Year) @(web_name)
                </div>
                <div class="col-md-4 center">
                </div>
                <div class="col-md-4 right">
                    京ICP备11008151号
                </div>
            </div>
        </div>
    </div>
</div>