@{
    Layout = IncludePath("_Layout");
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <div class="panel panel-danger center-block">
                <div class="panel-heading">
                    <b>没有权限</b>
                </div>
                <div class="panel-body">
                    <h1 class="text-center" style="font-size:300px;color:orangered;">
                        <span class="fa fa-exclamation-triangle"></span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


