@{
    Layout = null;
}

<style type="text/css">
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/page/home/" target="_blank">@(web_name)</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/admin/panel/welcome/" target="_self">
                        <span class="fa fa-dashboard"></span>
                        <span>报表</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/admin/section/sectionlist/">
                        <span class="fa fa-quote-right"></span>
                        <span>内容块</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" target="_self">
                        <span class="fa fa-link"></span>
                        <span>链接管理</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/link/linkmanage/?link_type=home_link">
                                <span>首页管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/link/linkmanage/?link_type=post_slider">
                                <span>帖子轮转图</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/link/linkmanage/?link_type=shop_slider">
                                <span>店铺轮转图</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/link/linkmanage/?link_type=friend_link">
                                <span>友情链接</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/link/linkmanage/?link_type=partners">
                                <span>合作伙伴</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" target="_self">
                        <span class="fa fa-star"></span>
                        <span>分类和标签</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/category/categorymanage/?type=nav_list">
                                <span>导航</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/admin/tag/tagmanage/">
                                <span>标签</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/admin/user/userlist/">
                        <span class="fa fa-user"></span>
                        <span>用户管理</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/permission/rolelist/" target="_self">角色管理</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" target="_self">
                        <span class="fa fa-cog"></span>
                        <span>系统设置</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/setting/servicetask/">
                                后台服务
                            </a>
                        </li>
                        <li>
                            <a href="/admin/setting/setting/">
                                系统设置
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/admin/file/fileexplorer/">
                                <span class="fa fa-folder-open"></span>
                                <span>文件管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/log/loglist/">
                                <span class="fa fa-code"></span>
                                <span>日志管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/log/SlowReqList/">
                                <span class="fa fa-times-circle"></span>
                                <span>慢请求</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" target="_self">
                        @(DateTimeHelper.GetChineseDate()) @(DateTimeHelper.GetWeek())
                    </a>
                </li>
                <li><a href="/account/login/?logout=1" target="_self">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>