@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Bll;
@using Model;
@{
    Layout = null;
}

<div class="box_con">
    <div class="list-group">
        <a href="/order/sellerorderlist/" target="_self" class="list-group-item">
            <span class="fa fa-list"></span>
            <span>订单</span>
        </a>
        <a href="/seller/productlist/" target="_self" class="list-group-item">
            <span class="fa fa-map-marker"></span>
            <span>货架</span>
        </a>
    </div>
</div>