@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Bll;
@using Model;
@using Model.User;
@using WebLogic.Bll.User;
@using WebLogic.Model.User;
@using Hiwjcn.Framework.SSO;
@using Hiwjcn.Framework.SSO.Model;
@using WebLogic.Bll.User;
@{
    Layout = null;

    var model = this.X.LoginUser;
    if (model == null) { model = new LoginUserInfo(); }
}

<div class="box_con">
    <div class="list-group">
        <a href="/user/me/" target="_self" class="list-group-item">
            <span class="fa fa-info-circle"></span>
            <span>信息预览</span>
        </a>
        @if (model.HasPermission(PermissionRecord.ManageSystem.PermissionID))
        {
            <a class="list-group-item" href="/admin/panel/welcome/" target="_blank">
                <span class="fa fa-dashboard"></span>
                <span>系统管理</span>
            </a>
        }
        @if (model.HasPermission(PermissionRecord.SellGoods.PermissionID))
        {
            <a class="list-group-item" href="/seller/welcome/" target="_blank">
                <span class="fa fa-dashboard"></span>
                <span>卖家管理</span>
            </a>
        }
    </div>
    <div class="list-group">
        <a href="/order/orderlist/" target="_self" class="list-group-item">
            <span class="fa fa-list"></span>
            <span>订单</span>
        </a>
        <a href="/customer/shoppingcart/" target="_self" class="list-group-item">
            <span class="fa fa-shopping-cart"></span>
            <span>购物车</span>
        </a>
        <a href="/customer/address/" target="_self" class="list-group-item">
            <span class="fa fa-map-marker"></span>
            <span>收货地址</span>
        </a>
    </div>
    <div class="list-group">
        <a href="/user/message/" target="_self" class="list-group-item">
            <span class="fa fa-inbox"></span>
            <span>站内信</span>
        </a>
        <a href="/user/userinfo/" class="list-group-item">
            <span class="fa fa-user"></span>
            <span>我的资料</span>
        </a>
    </div>
</div>