@{
    Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>

    @IncludeView("nav")

    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        个人设置
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="" target="_self">授权的应用</a>
                        <a class="list-group-item" href="" target="_self">我的应用</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                        <a class="list-group-item" href="" target="_self">fasdf</a>
                    </div>
                </div>

                <a href="/account/logout" class="btn btn-danger btn-block" target="_self">退出登录</a>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
