@using Lib.helper;
@{
    Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
    <style type="text/css">
        body {
            background: none;
            background-color: white;
        }

        .nav_cls {
            margin-bottom: 0 !important;
        }

        .img_con {
            margin-bottom: 10px;
            margin-left: -10px;
            margin-right: -10px;
        }

            .img_con img {
                width: 100%;
                height: auto;
                -webkit-transition: all 0.25s ease 0s;
                -moz-transition: all 0.25s ease 0s;
                -o-transition: all 0.25s ease 0s;
                -ms-transition: all 0.25s ease 0s;
                transition: all 0.25s ease 0s;
            }

                .img_con img:hover {
                    opacity: 0.9;
                }
    </style>
</head>

<body>

</body>
</html>
