.sep {
    position: relative;
    display: block;
    border-top: 1px solid rgb(230,230,230);
    height: 0;
    overflow: visible;
}

    .sep .sep-txt {
        position: absolute;
        z-index: 100;
        left: 50%;
        margin-left: -42px;
        top: -11px;
        display: inline-block;
        width: 84px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        font-weight: bold;
        color: #ccccd0;
        font-size: 18px;
        background-color: white;
        overflow: hidden;
    }

.btn.pin {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    color: #007feb;
    background-color: white;
    font-weight: lighter;
    font-size: 15px;
}

.btn.btn-x {
    background: none;
    background-color: transparent;
    border-color: transparent;
    color: #888;
    outline: none;
}

    .btn.btn-x:hover, .btn.btn-x:active, .btn.btn-x:focus {
        background: none;
        background-color: transparent;
        border-color: transparent;
        color: #007feb;
        box-shadow: none;
    }

.panel-footer {
    padding: 6px;
}

.table thead tr td {
    border-bottom: none;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle !important;
}

.table tbody tr td {
    vertical-align: middle !important;
}

.table td.active {
    font-weight: bold;
    font-size: larger;
}

/*自定义样式*/

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-img {
    margin-right: 28px;
    background: none;
    background-image: url(http://images.qipeilong.cn/ico/logo.png?t=111);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -1000px;
    width: 120px;
    overflow: hidden;
    zoom: 1;
}

.owl-page.active span {
    background-color: #007feb !important;
}

.hidden {
    display: none !important;
}

.center, .center-text {
    text-align: center;
}

.center-sm {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.box {
    padding: 16px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: white;
}

.box_con {
    margin-bottom: 15px;
}

.html_con {
    overflow: hidden;
    zoom: 1;
    word-break: break-all;
    word-wrap: break-word;
}

.sec {
    padding: 0;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
}

    .sec:hover {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-transform: translate(0px,-5px);
        -webkit-transform: translate(0px,-5px);
        -o-transform: translate(0px,-5px);
        -ms-transform: translate(0px,-5px);
        transform: translate(0px,-5px);
    }

.sec-img a {
    display: block;
}

    .sec-img a img {
        height: 200px;
        width: 100%;
    }

.sec-desc {
    padding: 10px;
}

    .sec-desc a {
        color: black;
        font-weight: bold;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        overflow: hidden;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
    }

    .sec-desc p {
        color: gray;
        font-size: 13px;
        line-height: 15px;
        height: 30px;
        overflow: hidden;
    }

    .sec-desc div {
        color: black;
        font-size: 14px;
        line-height: 22px;
        height: 22px;
        overflow: hidden;
    }

body {
    color: rgb(58, 58, 58);
    font-size: 12px;
    font-weight: lighter;
    cursor: url('img/cursor.ico'), auto;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
    display: inline-block;
    background: none;
}

    a:hover, a:active, a:focus {
        color: #007feb;
        text-decoration: underline;
    }

.border_radius2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.circle_radius {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.no_radius {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
/*============================== webkit scroll start =============================*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #0b192c;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #0e0e2c;
    }

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-resizer {
    display: none;
}
